@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    height: 100vh;
    font-family: 'raleway';
}

.container {
    padding: 20px;
    width: 500px;
    background-color: rgb(12, 12, 12);
    margin: 5% auto;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

form {
    margin-bottom: 20px;
}

form label {
    font-weight: 600;
    color: white;
}
form input {
    background: transparent;
    color: rgb(252, 250, 250);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(252, 252, 252);
}

form input:focus {
    background: black;
    outline: none;
    border: 2px solid rgb(255, 253, 253);
}

form button {
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(228, 243, 248);
    border-radius: 5px;
    border: 2px solid rgb(228, 243, 248);
    outline: none;
    color: black;
}

form button:hover {
    opacity: 0.8;
}

#answer {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

#answer p {
    margin-bottom: 20px; 
    text-align: right;
    font-weight: 600;
    font-size: 13px;
}

#answer .quiz {
    text-align: left;
    margin-top: 20px; 
    font-weight: 600;
    font-size: 13px;
}